.env
.env.*
!.env.example
node_modules/
data/
*.sqlite*
*.log
.DS_Store
app/.dart_tool/
app/build/
app/.flutter-plugins*
app/android/local.properties
app/android/.gradle/
app/android/key.properties
*.jks
*.keystore
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/Generated.xcconfig
app/ios/Flutter/flutter_export_environment.sh
app/ios/Flutter/ephemeral/
app/ios/Runner/GeneratedPluginRegistrant.*
app/ios/Runner.xcworkspace/xcuserdata/
app/ios/Runner.xcodeproj/xcuserdata/
*.iml
.idea/
.vscode/
